:root{
  --white: #fff;
  --light-blue: #3EE9E5;
  --darkmoon-blue: #080C20;
  --grey: #777F98;
  --red: #FF2965;
  --kinda-blue: #093F68;
}
/* ** GLOBAL STYLES ** */
html
{
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after
{
  box-sizing: inherit;
}
*{
  padding: 0;
  margin: 0;
  list-style: none;
}
*:focus{
  outline: 3px dotted var(--light-blue);
  outline-offset: 2px;
}
/* ----------------- */
/* ===== body ====== */
/* ----------------- */
body
{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  line-height: 25px;
  font-family: 'Manrope', Arial, sans-serif;
  background-color: var(--darkmoon-blue);
  color: var(--white);
}
img
{
  max-width: 100%;
  height: auto;
}
/* * * / AUTOFILL STYLES \ * * */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
/* * * VISUALLY HIDDEN * * */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Logo */
.logo{
  display: inline-block;
}
.logo__img{
  width: 120px;
  height: 35px;
  color: var(--white);
  transition: 0.4s ease;
}
.logo:hover .logo__img{
  color: var(--light-blue);
}
.logo:active{
  opacity: 0.6;
}
/* Button  */
.button {
  color: var(--darkmoon-blue);
  text-align: center;
  font-weight: 800;
  padding: 12px 18px;
  border-radius: 24px;
  background-color: var(--light-blue);
  border: 2px solid var(--light-blue);
  cursor: pointer;
  transition: 0.4s ease;
}
.button:hover{
  color: var(--white);
  background-color: transparent;
}
.button:active{
  opacity: 0.6;
}
/* *** CONTAINER *** */
.container
{
  width: 100%;
  max-width: 1158px;
  padding-left: 24px;
  padding-right: 24px;
  margin-right: auto;
  margin-left: auto;
  /* border: 3px solid #fff; */
}

/* HEADER  */
.site-header {
  padding-top: 80px;
  padding-bottom: 80px;
}
.logo__img {
  display: flex;
  object-fit: cover;
}
/* ** MAIN CONTENT ** */
.main-content
{
  flex-grow: 1;
}

/* HERO SECTION */
.hero {
  padding-top: 105px;
  padding-bottom: 105px;
  background-image: url(../img/path-short.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.hero__container {
  position: relative;
  display: flex;
  justify-content: center;

}
.hero__content{
  position: relative;
  max-width: 545px;

}
.hero__content::after{
  position: absolute;
  display: flex;
  content: "";
  width: 26px;
  height: 42px;
  background-image: url(../img/elipse.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  left: calc(50% - 13px);
  bottom: -110px;
}
.hero__title {
  color: var(--white);
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 56px;
  margin-bottom: 24px;
}
.hero__title b{
  color: var(--light-blue);
}
.hero__text {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  text-align: center;
  color: var(--grey);
}

.hero__bg-first {
  position: absolute;
  top: -70px;
  left: -193px;
  width: 408px;
  height: 459px;
}
.hero__bg-second {
  position: absolute;
  top: -62px;
  right: -200px;
  width: 396px;
  height: 444px;
}

/* FEATURES SECTION */
.features {
  padding-top: 270px;
  padding-bottom: 110px;
}
.features__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.features__list-item {
  max-width: 255px;
  width: 100%;
}
.feature:not(:last-child) {
  margin-right: 30px;
}
.feature:nth-child(2n){
  padding-top: 48px;
}
.feature__img {
  display: block;
  width: 160px;
  height: 164px;
  margin-bottom: 48px;
}
.feature__title {
  color: var(--white);
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 23px;
}
.feature__text {
  color: var(--grey);
}

/* Pricing Plan */
.pricing-plan {
  padding-top: 110px;
  padding-bottom: 100px;
}
.pricing-plan__container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing-plan__title {
  color: var(--white);
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 24px;
}
.pricing-plan__text {
  max-width: 540px;
  color: var(--grey);
  text-align: center;
  margin-bottom: 105px;
}
.pricing-plan__rates {
  display: flex;
  align-items: center;
}
.free-rate {
  position: relative;
  padding: 48px 38px;
  width: 445px;
  border-radius: 8px;
  margin-right: 30px;
  background-color: var(--kinda-blue);
}
.free-rate::before{
  position: absolute;
  top: -23px;
  left: 38px;
  display: flex;
  content: "";
  width: 46px;
  height: 46px;
  background-image: url(../img/circle-square.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.free-rate__title {
  color: var(--white);
  font-size: 18px;
  font-weight: 800;
  line-height: 25px;
  margin-bottom: 19px;
}
.free-rate__text {
  color: var(--grey);
  margin-bottom: 24px;
}
.free-rate__cost {
  color: var(--white);
  font-size: 40px;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 19px;
}
.free-rate__features li{
  position: relative;
  padding-left: 28px;
}
.free-rate__features li:not(:last-child){
  margin-bottom: 12px;
}
.free-rate__features li::before {
  position: absolute;
  top: 8px;
  left: 0;
  display: flex;
  width: 11px;
  height: 8px;
  content: "";
  background-image: url(../img/check-blue.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.payable-rate {
  position: relative;
  padding: 60px 38px;
  width: 445px;
  border-radius: 8px;
  background-color: var(--light-blue);
}
.payable-rate::before{
  position: absolute;
  top: -32px;
  left: 38px;
  display: flex;
  content: "";
  width: 51px;
  height: 65px;
  background-image: url(../img/circle-trangle.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.payable-rate__title {
  color: var(--darkmoon-blue);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  margin-bottom: 19px;
}
.payable-rate__text {
  color: var(--darkmoon-blue);
  margin-bottom: 24px;
}
.payable-rate__cost {
  display: flex;
  align-items: center;
  color: var(--darkmoon-blue);
  margin-bottom: 19px;
}
.payable-rate__cost b{
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-right: 7.5px;
}
.payable-rate__features li{
  position: relative;
  color: var(--darkmoon-blue);
  padding-left: 28px;
}
.payable-rate__features li:not(:last-child){
  margin-bottom: 12px;
}
.payable-rate__features li::before{
  position: absolute;
  top: 8px;
  left: 0;
  display: flex;
  width: 11px;
  height: 8px;
  content: "";
  background-image: url(../img/check-black.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

/* SUBSCRIPTION */
.subscription {
  padding-top: 100px;
  padding-bottom: 160px;
}
.subscription__inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 476px;
}
.subscription__title {
  color: var(--white);
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 42px;
}
.subscription__form {
  display: flex;
}
.subscription__field-wrapper {
  position: relative;
  z-index: 1;
  max-width: 320px;
  width: 100%;
  margin-right: 16px;
}
.subscription__field {
  width: 100%;
  height: 100%;
  border-radius: 24px;
  padding: 12px 18px;
  background-color: var(--kinda-blue);
  border: 2px solid transparent;
  color: rgb(255, 255, 255, 0.4);
  font-weight: 800;
}
.subscription__field:not(:focus):not(:placeholder-shown):invalid {
  border-color: var(--red);
}
.subscription__error {
  display: none;
  z-index: -1;
  position: absolute;
  color: var(--red);
  font-size: 12px;
  line-height: 25px;
  padding: 4px 18px;
}
.subscription__field:not(:focus):not(:placeholder-shown):invalid ~
.subscription__error {
  display: block;
}
